.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.box {
    color: white;
    height: 300%;
}

.box1 {
    background-color: blue;
    font-size: 50px;
}

.box2 {
    background-color: red;
    font-size: 70px;
}

.box3 {
    background-color: green;
    font-size: 100px;
}

.box4 {
    background-color: #a0f0f0;
    font-size: 70px;
}

.box5 {
    background-color: DodgerBlue;
    font-size: 50px;
}